body {
  margin: 0;
  color: #fff;
}
a{
  color: #fff;
  text-decoration: none;
}

.wrap {
  background: url('./images/bg.jpg') no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
}

.col {
  float: left;
  width: 33.33%;
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 100%;
}

.row,
.wrap {
  overflow: hidden;
}
.chart{
  margin: 20px;
}
.h100p{
  height: 100%;
}
.relative{
  position: relative;
}
.map-mode{
  position: absolute;
  bottom: 30px;
  right: 30px;
  background: #061020;
  border: #587AAE 2px solid;
  padding: 5px 20px;
  border-radius: 5px;
}
.c-box {
  height: calc(33vh - 30px);
  border: 3px solid #5373a6;
  border-radius: 1em;
  box-sizing: border-box;
}
.chart:first-child .c-box{
  height: 15vh;
}

.c-title {
  line-height: 30px;
  height: 30px;
}

.icon::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  vertical-align: text-bottom;
  line-height: 2;
  margin: 0 6px;
}

.icon1::before {
  background-image: url('images/icon1.png');
}

.icon2::before {
  background-image: url('images/icon2.png');
}

.icon3::before {
  background-image: url('images/icon3.png');
}

.icon4::before {
  background-image: url('images/icon4.png');
}

.icon5::before {
  background-image: url('images/icon5.png');
}

.icon6::before {
  background-image: url('images/icon6.png');
}

.summary {
  display: flex;
  align-items: center;
  height: 100%;
}

.sm-item div {
  font-size: 32px;
}

.sm-item {
  flex: 1;
  text-align: center;
}

#chartx {
  margin-top: 80px;
  position: relative;
}

#chartx img {
  width: 100%;
}

.dot{
  /* display: none; */
  position: absolute;
  left: 50%;
}
.dot-type1:after{
  background-color: #29cc97;
}
.dot-type2:after{
  background-color: #ff5560;
}
.dot-type3:after{
  background-color: #fec400;
}
.dot:after {
  content: ' ';
  position: absolute;
  border-radius: 50%;
  animation: ripple 2s 3;
}

@keyframes ripple {
  0% {
    left: 0;
    top: 0;
    opacity: .75;
    width: 0;
    height: 0;
  }
  100% {
    left: -25px;
    top: -25px;
    opacity: 0;
    width: 50px;
    height: 50px;
  }
}

.marquee{
  margin: 15px;
  overflow: hidden;
}
.mi-row{
  padding: 6px 0;
  transform: translateY(0);
}
.marquee.onScroll .mi-row{
  transition: transform .5s;
  transform: translateY(-100%)
}